@page "/hash"

@using DevTestHelperTools.Components.Elements
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web

<EditForm Model="@Hash" OnValidSubmit="@ComputeHash">
    <DataAnnotationsValidator />
    <div class="select-container">
        <SelectMenu id="hashType" required="" @bind-Value="@Hash.Algorithm">
            <option value="">Select algorithm</option>
            @foreach (var hashType in HashService.GetHashTypes())
            {
                <option value="@hashType.Value">@hashType.Key</option>
            }
        </SelectMenu>
        <ValidationMessage For="@(() => Hash.Algorithm)" />
    </div>
    <div class="textarea-container">
        <InputTextArea id="input" placeholder="Enter your text here..." @bind-Value="@Hash.InputString" />
    </div>
    <div>
        <button type="submit" id="generate">GENERATE</button>
    </div>
    <div class="text-data">
        <p>
            <label for="result">Hash:</label>
            <div id="result" class="text-block">@_result</div>
        </p>
    </div>
</EditForm>
